.title Про кубик
.info
  p В середине 1970-х Эрнё Рубик работал в отделе Дизайна интерьера в академии 
  | Прикладного искусства в Будапеште. Ему никак не удавалось втолковать студентам 
  | математическую теорию групп. Занимаясь группами, Рубик однажды сделал 27 
  | деревянных кубиков, раскрасил каждый в шесть цветов. Неожиданно оказалось 
  | довольно трудно сложить из них один куб, чтобы каждая грань была окрашена в свой цвет. 
  | Сам Рубик бился над задачей целый месяц (хотя сообщается, что первый кубик Рубика 
  | был построен как обучающий инструмент, чтобы помочь его студентам понять 
  | трехмерные объекты, фактически первоначальная цель Рубика заключалась в решении 
  | проблемы структурного перемещения независимых частей). Но самым сложным оказалось 
  | придумать механизм, который состоял из 26 кубиков и структурного крепления.
  | 30 января 1975 года Э. Рубик подал заявку и 28 марта 1977 года получил венгерский 
  | патент на своё изобретение, «Магический кубик».