
- var menuItems = site.menuItems
  .navbar
    .close-btn(class="mdi mdi-close")
    .menu
      each item in menuItems
        div.menu-item.tooltippable
          a(href=`${item.link}`)
            span.menu-icon.tooltipped(class=`mdi ${item.icon}`)
            span.mobile-menu-title #{item.title}
    .menu-tooltip &nbsp;

