:root
  --bg-color: white
  --color: #111111
  --bg-color-header: #ffffffdd

  --side: 6rem
  --perspective: calc(var(--side) * 3)

a
  color: inherit
  text-decoration: none
html
  background: var(--bg-color)
.layout
  display: flex
  flex-direction: column
  height: fit-content
  min-height: 100vh
  justify-content: stretch
  align-items: center

// .content
//   display: flex
//   flex-direction: column
//   align-items: center
//   width: 100%

.main
  position: relative
  display: flex
  flex-direction: column
  padding: 0 2rem
  max-width: 1200px
  background-repeat: no-repeat
  background: var(--bg-color)
  color: var(--color)
  width: 68.5%

.header, .footer
  display: flex
  justify-content: center
  align-items: stretch
  width: 100%
  border-radius: .1rem
  backdrop-filter: blur(10px)
.footer
  background-color: var(--bg-color)
.header
  position: sticky
  top: 0
  background-color: var(--bg-color-header)
  z-index: 2
.menu-btn, .close-btn
  display: none
.title
  font-size: 3rem
.mobile-menu-title
  display: none
.info
  flex-grow: 1
.navbar
  display: grid
  grid-template-rows: 100% 20%
  justify-content: center
  padding: 0 2rem
  overflow: visible
  color: var(--color)
.menu
  display: flex
  gap: 1rem
  align-self: center
  justify-self: center
.menu-item
  &:hover
    &:nth-of-type(1)
      color: blue
    &:nth-of-type(2)
      color: red
    &:nth-of-type(3)
      color: green
    &:nth-of-type(4)
      color: orange
  .menu-icon
    font-size: 2rem
    cursor: pointer
.tooltip
  position: absolute
  left: 2rem
  top: .3rem
  color: var(--color)
  border-radius: .2rem
  background-color: #000000bb
  padding: .1rem .8rem
  text-wrap: nowrap
  display: none
  z-index: 10
.menu-tooltip
  text-wrap: nowrap
  text-align: center
  color: var(--color)
  height: fit-content
  width: 100%
  display: none
  &.hovered
    background-color: var(--bg-color-header)
    display: block
.tooltippable
  position: relative
.cubes
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-between

.turns-row
  display: flex

.variant-title
  text-align: center
  margin-top: calc(var(--side) / 3)
  margin-bottom: (calc((var(--side)) / -2))

.variant-content
  display: flex
  align-items: center
.direction
  font-size: 3rem
  margin-left: calc(var(--side) / -2.5)
  margin-top: calc(var(--side) / 1.5)
// cube

.cube
  position: relative
  width: calc(var(--side) * 2)
  height: calc(var(--side) * 2)
  perspective: var(--perspective)
  perspective-origin: 50% 0%

//sides

%side
  position: absolute
  width: var(--side)
  height: var(--side)

.side-x
  @extend %side
  transform-origin: 100% 100%
  transform: rotateX(90deg) rotateZ(45deg) rotateY(0deg)
.side-y
  @extend %side
  top: var(--side)
  transform-origin: 100% 50%
  transform: rotateY(-45deg)
.side-z
  @extend %side
  left: var(--side)
  top: var(--side)
  transform-origin: 0% 50%
  transform: rotateY(45deg)

.cell
  position: absolute
  width: calc(var(--side) / 3)
  height: calc(var(--side) / 3)
  border: 1px solid #ccc
  border-radius: .2rem

$sides: (x, y, z)
$cols: (__1,__2,__3)
$rows: (a,b,c)
@for $i from 1 through length($sides)
  .#{nth($sides, $i)}
    position: absolute
  @for $j from 1 through length($cols)
    .#{nth($sides, $i)}#{nth($cols, $j)}
      top: calc((var(--side) / 3) * ($j - 1))
    @for $k from 1 through length($rows)
      .#{nth($sides, $i)}__#{nth($rows, $k)}
        left: calc((var(--side) / 3) * ($k - 1))
.turns-row_mobile
  display: none
